body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    background: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    background: lightgreen;
}

li.uncompleted {
    background: #41729F; /* Queen Blue */
    color: white;
}

li button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

li button.edit {
    color: #007bff;
}

li button.complete {
    color: #28a745;
}

li button.delete {
    color: #dc3545;
}
